flutter/ephemeral/

# Visual Studio user-specific features.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related features.
x64/
x86/

# Visual Studio cache features
# features ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
